
/** west:菜单栏*/
.navlist ul{list-style-type:none;margin:0px; padding:10px;}
.navlist ul li{border:1px dashed #ffffff;color:#416AA3;padding:2px 0px 0px 10px;line-height:24px;}
.navlist ul li:hover{border:1px dashed #99BBE8;background:#E0ECFF;cursor:pointer;}
.navlist ul li.selected{border:1px solid #99BBE8;background:#E0ECFF;cursor:default;font-weight:bold;}

/** west:系统图标 */
.icon{ background:url(../images/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-sys{ background-position:0px -200px;}
.icon-add{background-position: -20px 0px;}
.icon-nav{background-position: -100px -20px; }
.icon-users{background-position: -100px -480px;}
.icon-role{background-position: -360px -200px;}
.icon-set{background-position: -380px -200px;}
.icon-log{background-position: -380px -80px;}
.icon-delete{ background-position:-140px -120px;}
.icon-edit{ background-position:-380px -320px;}
.icon-magic{ background-position:0px -500px;}
.icon-database{ background-position:-20px -140px;}

/** north：菜单li */
.north_menu li{float:left;padding-right:10px;list-style-type:none;}
.north_menu li a{color:#000000;text-decoration:none;}
.north_menu li a.active{color:#ffffff;text-decoration:none;}

/** north：功能*/
.north_fun a{ color:#fff; text-decoration:none;}
.north_fun a:hover{ color:black; text-decoration:underline;}
