<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XxlPermissionUserMapper">
	
	<resultMap id="XxlPermissionUser" type="com.xxl.permission.core.model.XxlPermissionUser" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="user_name" property="userName" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	    <result column="user_token" property="userToken" jdbcType="VARCHAR" />
	    <result column="real_name" property="realName" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		t.id,
		t.user_name,
		t.`password`,
		t.user_token,
		t.real_name
	</sql>

	<insert id="add" parameterType="com.xxl.permission.core.model.XxlPermissionUser" keyProperty="userId" >
		INSERT INTO xxl_permission_user(
			user_name,
			`password`
		)
		VALUES (
			#{userName, jdbcType=VARCHAR},
			#{password, jdbcType=VARCHAR}
		)
	</insert>

	<delete id="delete" parameterType="java.util.List" >
		DELETE FROM xxl_permission_user
		WHERE id in
		<foreach collection="list" index="index" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<update id="update" parameterType="com.xxl.permission.core.model.XxlPermissionUser">
		UPDATE xxl_permission_user
		SET
			user_name = #{userName, jdbcType=VARCHAR},
			`password` = #{password, jdbcType=VARCHAR}
		WHERE id = #{id, jdbcType=VARCHAR}
	</update>

	<select id="loadUser" parameterType="java.lang.Integer" resultMap="XxlPermissionUser">
		SELECT	<include refid="Base_Column_List" />
		FROM xxl_permission_user AS t
		WHERE t.id = #{id, jdbcType=INTEGER}
	</select>

	<select id="findUserByUserName"  parameterType="java.lang.String" resultMap="XxlPermissionUser">
		SELECT	<include refid="Base_Column_List" />
		FROM xxl_permission_user AS t
		WHERE t.user_name = #{username, jdbcType=VARCHAR}
	</select>

	<select id="queryUser" parameterType="java.util.HashMap" resultMap="XxlPermissionUser" >
		SELECT	<include refid="Base_Column_List" />
		FROM xxl_permission_user AS t
		<trim prefix="WHERE" prefixOverrides="and|or" >
			<if test="userName != null and userName != '' ">
				and t.user_name = #{userName, jdbcType=VARCHAR}
			</if>
		</trim>
		LIMIT #{offset, jdbcType=INTEGER}, #{pagesize, jdbcType=INTEGER}
	</select>
	<select id="queryUserCount" parameterType="java.util.HashMap" resultType="java.lang.Integer" >
		SELECT	COUNT(1)
		FROM xxl_permission_user AS t
		<trim prefix="WHERE" prefixOverrides="and|or" >
			<if test="userName != null and userName != '' ">
				and t.user_name = #{userName, jdbcType=VARCHAR}
			</if>
		</trim>
	</select>

	<insert id="bindUserRoles" parameterType="java.util.HashMap" >
		INSERT INTO xxl_permission_user_role(
            user_id,
            role_id
        )
		VALUES
		<foreach collection="addRoldIds" item="item" index="index" separator="," >
		(
            #{userId},
            #{item}
        )
		</foreach>
	</insert>

	<delete id="unBindUserRoles" parameterType="java.util.HashMap" >
		DELETE FROM xxl_permission_user_role
		WHERE user_id = #{userId} and
		role_id in
		<foreach collection="delRoldIds" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<delete id="unBindUserRoleAll" parameterType="java.util.HashMap" >
		delete from xxl_permission_user_role
		where user_id in
		<foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
</mapper>