<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.deep.admin.mapper.XxlDeepOrgMapper">

    <resultMap id="XxlDeepOrg" type="com.xxl.deep.admin.model.entity.XxlDeepOrg" >
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="order" property="order" />
        <result column="status" property="status" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.`id`,
        t.`parent_id`,
        t.`name`,
        t.`order`,
        t.`status`,
        t.`add_time`,
        t.`update_time`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO xxl_deep_org (
            `parent_id`,
            `name`,
            `order`,
            `status`,
            `add_time`,
            `update_time`
        )
        VALUES(
                  #{xxlDeepOrg.parentId} ,
                  #{xxlDeepOrg.name} ,
                  #{xxlDeepOrg.order} ,
                  #{xxlDeepOrg.status} ,
                  NOW() ,
                  NOW()
              )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM xxl_deep_org
        WHERE `id` in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE xxl_deep_org
        SET
            `parent_id` = #{xxlDeepOrg.parentId},
            `name` = #{xxlDeepOrg.name},
            `order` = #{xxlDeepOrg.order},
            `status` = #{xxlDeepOrg.status},
            update_time = NOW()
        WHERE `id` = #{xxlDeepOrg.id}
    </update>


    <select id="load" parameterType="java.util.Map" resultMap="XxlDeepOrg">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_deep_org AS t
        WHERE t.`id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="XxlDeepOrg">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_deep_org AS t
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_deep_org AS t
    </select>

    <select id="queryOrg" parameterType="java.util.Map" resultMap="XxlDeepOrg">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_deep_org AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="name != null and name != ''">
                AND t.name like CONCAT(CONCAT('%', #{name}), '%')
            </if>
            <if test="status gt -1">
                AND t.status = #{status}
            </if>
        </trim>
        ORDER BY t.`order` ASC
    </select>

</mapper>
